body {
    background-color: lightblue;
    font-family: sans-serif
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
    display: flex;
    margin: auto;
    font-size: 75px;
}

#toplogo {
    display: flex;
    width: 100px;
    height: 100px;
}

ul {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 50px;
}

li {
    list-style: none;
}

main {
    display: flex;
}

section{
    width: 60%;
    padding: 10px;
    margin: 10px;
}

p {
    line-height: 30px;
}

aside {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin: auto;
    padding: 25px;
    font-size: 40px;
}

footer {
    margin: 25px;
}