body {
    background-color: cornflowerblue;
    font-family: sans-serif
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
    display: flex;
    margin: auto;
    padding: 20px;
    font-size: 75px;
    font-family: Luminari, fantasy;
    text-shadow: 2px 2px 5px black;
}

#toplogo {
    display: flex;
    width: 80px;
    height: 80px;
}

nav {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 15px 50px 15px 50px;
}

li {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
}

main {
    display: flex;
}

section{
    width: 60%;
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
    background-color: lightblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

section h2 {
    text-align: center;
    font-family: Luminari, fantasy;
    font-weight: bold;
    letter-spacing: 3px;
}

p {
    line-height: 30px;
}

aside {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightblue;
    margin: 15px 0px 0px 15px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: Luminari, fantasy;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 10px;
}

h2 {
    margin: auto;
    padding: 25px;
    font-size: 40px;
}

footer {
    margin: 15px 0px 15px 0px;
    background-color: lightblue;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}