body {
    background-color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 100px 0px 100px;
}

h1 {
    display: flex;
    margin: auto;
    padding: 20px;
    font-size: 75px;
    font-family: Luminari, fantasy;
    text-shadow: 2px 2px 5px black;
}

#toplogo {
    display: flex;
    width: 80px;
    height: 80px;
}

nav {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 0px 300px 0px 300px;
    text-decoration: none;
    margin: 0px 100px 0px 100px;
}

ul {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 15px 50px 15px 50px;
  text-decoration: none;

}

li {
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

main {
    display: flex;
    margin: 0px 100px 0px 100px;
}


section{
    width: 60%;
    padding: 15px 15px 15px 15px;
    margin-top: 15px;
    background-color: lightblue;
    border-radius: 10px;
    padding: 0px 100px 0px 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

section h2 {
    text-align: center;
    font-family: Luminari, fantasy;
    font-weight: bold;
    letter-spacing: 3px;
}

p {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

aside {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background-color: lightblue;
    margin: 15px 0px 0px 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: Luminari, fantasy;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 10px;
}

h2 {
    margin: auto;
    padding: 25px;
    font-size: 40px;
}

footer {
    margin: 15px 0px 15px 0px;
    background-color: lightblue;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    margin: 15px 100px 0px 100px;
}

.image {
    width: 40%;
    height: auto;
    margin: 8px;
}
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: rgb(18, 50, 111);
}

a:active {
    text-decoration: none;
}